:root {
  --sizem: 100%; }

.gridx {
  padding: 20px; }

.e-menu {
  background-color: #fff;
  width: 100%; }
  @media screen and (max-width: 640px) {
    .e-menu {
      background-color: #ffffff; } }
  @media screen and (max-width: 640px) {
    .e-menu .navbar-me {
      display: none; } }
  .e-menu .navbar-me ul.menu {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center; }
    .e-menu .navbar-me ul.menu .current_page_item {
      transition: 0.5s ease; }
      .e-menu .navbar-me ul.menu .current_page_item:after {
        width: 100%;
        content: '';
        display: block;
        background-color: #009FFF;
        height: 3px;
        width: calc(var(--ttw)/2);
        position: absolute;
        left: calc( calc( 100% - ( calc(var(--ttw)/2)) ) / 2);
        bottom: 0px;
        z-index: 100;
        transition: 0.5s ease; }
    .e-menu .navbar-me ul.menu li {
      position: relative;
      padding: 0px 0px 0px;
      --ttw: 100%; }
      .e-menu .navbar-me ul.menu li:hover {
        transition: 0.5s ease; }
        .e-menu .navbar-me ul.menu li:hover:after {
          width: 100%;
          content: '';
          display: block;
          background-color: #009FFF;
          height: 3px;
          width: calc(var(--sizem)/2);
          position: absolute;
          left: calc( calc( 100% - ( calc(var(--sizem)/2)) ) / 2);
          bottom: 8px;
          z-index: 100;
          transition: 0.5s ease; }
      .e-menu .navbar-me ul.menu li a {
        padding: 20px 10px 20px;
        display: block;
        color: #414141;
        text-decoration: none; }
        .e-menu .navbar-me ul.menu li a:hover {
          color: #46b271; }

/*==================Men MSC============ menu desk =============*/
.e-menu .sticky-wrapper {
  height: auto !important; }

.e-menu #menu-desk {
  z-index: 99999999 !important;
  position: sticky;
  display: block;
  opacity: 1 !important; }

.menu-desk {
  padding: 20px;
  background-color: #ffffff;
  -webkit-transition: all .5s ease .15s;
  -moz-transition: all .5s ease .15s;
  -o-transition: all .5s ease .15s;
  -ms-transition: all .5s ease .15s;
  transition: all .5s ease .15s; }
  @media screen and (max-width: 640px) {
    .menu-desk {
      padding: 0px; } }
  @media screen and (max-width: 640px) {
    .menu-desk .menu-coverpage {
      display: none; } }

.coverpage-sagradocorazon {
  padding: 150px 20px 150px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  width: var(--sizem);
  justify-content: center;
  background-image: url("../images/header-msc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 640px) {
    .coverpage-sagradocorazon {
      padding: 50px 20px; } }
  .coverpage-sagradocorazon .slogan {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase; }
    .coverpage-sagradocorazon .slogan h1 {
      color: #f7b32b;
      font-size: 2.6em; }
      @media screen and (max-width: 640px) {
        .coverpage-sagradocorazon .slogan h1 {
          font-size: 1.8em; } }
    .coverpage-sagradocorazon .slogan h2 {
      color: #ffffff;
      font-style: italic;
      font-size: 2.2em;
      margin-top: 10px; }
      @media screen and (max-width: 640px) {
        .coverpage-sagradocorazon .slogan h2 {
          font-size: 1.5em; } }
  .coverpage-sagradocorazon a {
    display: block; }
    .coverpage-sagradocorazon a img {
      width: auto;
      height: 80px; }

.contenedor-lm-msc {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--sizem);
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 640px) and (max-width: 1000px) {
    .contenedor-lm-msc {
      justify-content: center; } }
  .contenedor-lm-msc .or-logo-cover .logo {
    width: 75px;
    height: 75px;
    display: block; }
    .contenedor-lm-msc .or-logo-cover .logo img {
      width: 100%;
      height: auto;
      display: block; }
  .contenedor-lm-msc .or-menum .navbar-me ul.menu li.current_page_item:after {
    width: 100%;
    content: '';
    display: block;
    background-color: #46b271;
    height: 3px;
    width: calc(var(--ttw)/2);
    position: absolute;
    left: calc( calc( 100% - ( calc(var(--ttw)/2)) ) / 2);
    bottom: 8px;
    z-index: 100;
    transition: 0.5s ease; }
  .contenedor-lm-msc .or-menum .navbar-me ul.menu li:after {
    content: '';
    display: block;
    background-color: #414141;
    height: 3px;
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 8px;
    z-index: 100;
    transition: 0.5s ease; }
  .contenedor-lm-msc .or-menum .navbar-me ul.menu li:hover:after {
    content: '';
    display: block;
    background-color: #46b271;
    height: 3px;
    width: calc(var(--ttw)/2);
    position: absolute;
    left: calc( calc( 100% - ( calc(var(--sizem)/2)) ) / 2);
    bottom: 8px;
    z-index: 100;
    transition: 0.5s ease; }
  .contenedor-lm-msc .or-menum .navbar-me ul.menu li a {
    color: #414141;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    font-size: 0.9777em; }
    .contenedor-lm-msc .or-menum .navbar-me ul.menu li a:hover {
      transition: 0.5s ease;
      color: #46b271; }

.e-menu .navbar .sm {
  margin: 0px auto 15px auto; }
  .e-menu .navbar .sm .ubicacion {
    text-align: center;
    margin-bottom: 10px; }
    .e-menu .navbar .sm .ubicacion .icon {
      color: #293449; }
    .e-menu .navbar .sm .ubicacion #texto {
      color: #293449; }
  .e-menu .navbar .sm .search {
    color: #293449; }
    .e-menu .navbar .sm .search .searchbar {
      margin: 0px auto;
      display: flex;
      justify-content: center; }
      .e-menu .navbar .sm .search .searchbar input[type="text"] {
        border: 1px solid #46b271;
        outline: none;
        transition: 0.5s ease; }
        .e-menu .navbar .sm .search .searchbar input[type="text"]:hover {
          border: 1px solid #009FFF; }
      .e-menu .navbar .sm .search .searchbar input[type="submit"],
      .e-menu .navbar .sm .search .searchbar button[type="submit"] {
        color: #46b271;
        transition: 0.5s ease;
        outline: none; }
        .e-menu .navbar .sm .search .searchbar input[type="submit"]:hover,
        .e-menu .navbar .sm .search .searchbar button[type="submit"]:hover {
          color: #009FFF; }

@media screen and (max-width: 640px) {
  .e-menu {
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 4px; } }

@media screen and (min-width: 641px) {
  .e-menu .navbar {
    display: none; } }

.e-menu .navbar .cuadro-menu {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .e-menu .navbar .cuadro-menu .menu {
    margin-top: 20px; }
    .e-menu .navbar .cuadro-menu .menu li {
      border-bottom: 1px solid #46b271;
      margin-bottom: 2px; }
      .e-menu .navbar .cuadro-menu .menu li a {
        width: 100%;
        display: block;
        text-decoration: none;
        font-size: 1.2em; }
        .e-menu .navbar .cuadro-menu .menu li a:before {
          content: "";
          list-style-type: circle;
          color: green; }
        .e-menu .navbar .cuadro-menu .menu li a:hover {
          color: #009FFF;
          transition: 0.5s ease;
          margin-left: 10px; }
  .e-menu .navbar .cuadro-menu .logo {
    width: 70px; }
    .e-menu .navbar .cuadro-menu .logo img {
      width: 100%; }

.e-menu .navbar button.navbar-toggler {
  border: 1px solid rgba(51, 51, 51, 0.5);
  background-color: #e9e9e9;
  transition: 0.5s ease;
  cursor: pointer;
  outline: none; }
  .e-menu .navbar button.navbar-toggler .navbar-toggler-icon {
    color: #46b271; }

.e-menu .navbar .navbar-brand {
  float: left; }
  .e-menu .navbar .navbar-brand img {
    width: 70px;
    transition: 0.5s ease; }
    .e-menu .navbar .navbar-brand img:hover {
      opacity: 0.8; }
